* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #999;
}
.container{
    margin: 150px auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 75px -20px rgba(0,0,0,1);
}
.error-content{
    text-align: center;
    padding: 10px 0;
}
.error-icon{
    background: red;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 20px 0;
}
.fa-solid{
    color: #fff;
    font-size: 50px;
}
.warning{
    padding: 10px 0;
    font-weight: 570;
    font-size: 30px;
    color: #111;
}
.warning-description{
    padding: 5px 0;
    font-size: 18px;
    line-height: 1;
}
.cta{
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    margin: 15px ;
    background-color: red;
    color: white;
}
